[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Download product sheet
Type=Link
URL=http://localhost:8030/secure/9/c/9c60fe947f99618f9078f04168027ad6.jpg
Icon=image-jpeg
